.button_primary {
    background-image: linear-gradient(to right top,#fb6a4e, #ff606a);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    text-transform: uppercase;
    width: 243px;
    height: 60px;
}

.button_primary:focus,
.button_primary:hover {
    outline: none;
    filter: hue-rotate(170deg);
}

.button_primary:active{
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}
/*SOCIAL BUTTONS START*/
.buttons_social {
    padding: 0;
}

.buttons_social li {
    display: inline-block;
    margin: 0 49px 0 0;
    font-size: 0;
    width: 32px;
    height: 32px;
    background-image: url('../../img/sotial_network/social_sprites.png');
}

/* LINKEDIN BUTTON START*/
.buttons_social a:nth-child(1) li{
    background-position: -63px -62px;
}

.buttons_social a:nth-child(1) li:hover {
    background-position: -11px -62px;
}
/* LINKED BUTTON END/

/* TWITTER BUTTON START*/
.buttons_social a:nth-child(2) li {
    background-position: -114px -10px;
}

.buttons_social a:nth-child(2) li:hover {
    background-position: -114px -62px;
}
/* TWITTER BUTTON END*/

/* FACEBOOK BUTTON START*/
.buttons_social a:nth-child(3) li {
    background-position: -10px -10px;
}

.buttons_social a:nth-child(3):hover li {
    background-position: -62px -10px;
}
/* FACEBOOK BUTTON END*/
/*SOCIAL BUTTONS END*/