header .request-form {
    color: black;
}

footer .request-form {
    color: white;
}

.request-form fieldset{
    border: none;
    text-align: center;
    width: 333px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

.request-form legend {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: -5px;
    padding: 0;
}

.request-form p {
    text-align: left;
    position: relative;
    padding-top: 30px;
    margin-top: 26px;
}


.request-form input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #76dfce;
    font-size: 16px;
    font-family: 'Comic Sans MS', sans-serif;
    line-height: 22px;
    padding:0;
    margin: 0;
    width: 100%;
    height: 36px;
}

.request-form input:focus {
    outline: none;
}

.request-form label {
    color: #b1b3b3;
    font-size: 16px;
    position: absolute;
    top: 38px; 
    transition: all;
    transition-duration: 300ms;
    z-index: 1;
}

.request-form input:active + label,
.request-form input:focus + label,
.request-form input:hover + label {
    color: #1db8a4;
    font-size: 14px;
    top: 5px;
    text-transform: uppercase;
}

.request-form input::placeholder {
    color: #b1b3b3;
    transition: color;
    transition-duration: 50ms;
}

.request-form input:focus::placeholder,
.request-form input:hover::placeholder {
    color: transparent;
}

.request-form input:not(placeholder-shown) + label{
    color: transparent;
}

.request-form button {
    margin-top: 50px;
}